*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a,
a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}
input,
select,
textarea,
button,
a {
  font: inherit;
}
